.findFriends {
    margin-top: 15px;
}

@media (max-width:500px) {
    #search1 {
        display: none;
    }
}

@media (min-width:501px) {
    #search2 {
        display: none;
    }
}

.has-search .form-control {
    padding-left: 3.275rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 3.275rem;
    height: 3.275rem;
    line-height: 3rem;
    text-align: center;
    pointer-events: none;
}

.searchbox {
    border: 1px solid gray;
    border-radius: 3px;
    height: 50px;
    width: 80%;
    font-size: large;
    border-style: ridge;
}

.searchButton{
    height: 50px;
    font-size: large;
    border: 1px solid #899CFF;
    background-color: #899CFF;
    color: white;
}

.searchButton:hover {
    background-color: #6C5CE7;
    color: white;
}

.addFriendButton{
    border: 1px solid #899CFF;
    background-color: #899CFF;
    color: white;
}

.addFriendButton:hover {
    background-color: #6C5CE7;
    color: white;
}

.cardStack{
    text-align: center;
    justify-content: space-between ;
}

.friendButton{
    margin-bottom: 10px;
    margin-top: 10px;
}

#notFound{
    color: #899CFF;
}