.nameHeading{
  font-size: x-large;
  font-weight: bolder;
  border-bottom: 2px solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.radioSize {
width: 20px;
height: 20px;
}

.topButton{
text-align: center;
}

/* The side navigation menu */
.sidebar {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: bisque;
    position: fixed;
    height: auto;
    border-radius: 15px;
    overflow: auto;
    font-size: large;
}

  /* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

  /* Active/current link */
.sidebar a.active {
    background-color: #cca95e;
    color: black;
}

  /* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: rgb(233, 179, 80);
    color: black;
    
}

#footer {
  /* padding: 0px 20px; */
  font-size: smaller;
  position: relative;
  bottom: 0;
  /* justify-content: center; */
}

.navbar{
  background-color: #BFBFF3;
}

.nav-link{
  font-weight: bold;
  color: black !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}